

img {
  position: absolute;
}
.selector {
  width: 90px;
  height:90px;
  font-size: 20px;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
}
.drawingRect {
  position: relative;
  /* background-color: rgb(0, 152, 145); */
  grid-column: 2/7;
  grid-row: 2/7;
}
.changer {
  border-radius: 100%;
  cursor: pointer;

}
.selected {
  background-color: gray;
}
#buttons {
  display: grid;
  row-gap: 10px;
  grid-template-columns:  repeat(7, 102px);  
  left: 400px;
  top: 50px;
  margin: 0 auto;
  position: relative;
} 
#changeButtons {
  display: grid;
  /* background-color: gold; */
  position: relative;
  gap: 10px;
  grid-template-rows: repeat(10 , 90px);
  grid-template-columns: repeat(7 , 92px);
  margin: 0 auto;
}
